@tailwind base;
@tailwind components;
@tailwind utilities;

.max-ch {
	overflow: hidden;
	max-width: 16ch;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (min-width: 640px) {
	.max-ch {
		overflow: hidden;
		max-width: 24ch;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media (min-width: 768px) {
	.max-ch {
		overflow: hidden;
		max-width: 28ch;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media (min-width: 1024px) {
	.max-ch {
		overflow: hidden;
		max-width: 32ch;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
