---
import BarCodeForm from "../components/BarCodeForm.astro"
import BarCodeResults from "../components/BarCodeResults.astro"
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CGK Barcode Info</title>
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="{Astro.resolve('../styles/global.css')}">
	</head>
	<body class="bg-white">
		<main>
			<header class="mx-auto py-8 px-4 sm:px-6 lg:px-8">
				<h1 class="mt-1 text-4xl font-extrabold text-green-500 sm:text-5xl sm:tracking-tight lg:text-6xl">Community Garden Kitchen</h1>
				<p class="max-w-xl mt-5 text-2xl text-gray-500">Inventory Scanning</p>
			</header>
			<BarCodeForm/>
			<BarCodeResults/>
		</main>
	</body>
	<script type="module" src={Astro.resolve('../scripts/index.js')}></script>
</html>