---
import BarCodeForm from "../components/BarCodeForm.astro"
import BarCodeResults from "../components/BarCodeResults.astro"
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CGK Barcode Info</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
	</head>
	<body>
		<main>
			<header>
				<div>
					<h1>Community Garden Kitchen Barcode Info</h1>
				</div>
			</header>
			<BarCodeForm/>
			<BarCodeResults/>
		</main>
	</body>
</html>
