---

---
<style>
	.hidden {
		display: none;
	}
</style>

<section id="results" class="hidden">
	<table>
		<thead>
			<tr colspan="6">
				<th>Product Lookups</th>
			</tr>
			<tr>
				<th>Barcode</th>
				<th>Name</th>
				<th>Brand</th>
				<th>Manufacturer</th>
				<th>Weight</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody id="results-body"></tbody>
	</table>
</section>	