---
---
<style>
	input:user-invalid {
		box-shadow: 0 0 5px 1px red;
	}
	input:focus {
		box-shadow: none;
	}
</style>

<section>
	<form id="barcode-form">
		<label for="barcode">Barcode</label>
		<input id="barcode" name="barcode" placeholder="Tap here and begin scanning codes" required minlength="12" maxlength="13">
	</form>
</section>
