---
---
<section>
	<form id="barcode-form">
		<label for="bar-code">Barcode</label>
		<input id="bar-code" name="bar-code" placeholder="Tap here and then scan a code">
	</form>
</section>
<script type="module" src={Astro.resolve('../scripts/barcode-form.js')}></script>